* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  font-family: "Arial (Hebrew)", Arial;
  line-height: 1;
}

header {
  height: 105px;
  background-color: gray;
}

/* --- SEARCH --- */

.container .search {
  display: flex;
  justify-content: flex-end;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-left: 150px;
}

.container .search label {
  margin-left: 20px;
}

.container .search label:hover {
  text-decoration: underline;
  color: rgb(0, 92, 160);
}

#search-btn > img {
  width: 19px;
}

/* --- MENU --- */

.container .menu {
  font-size: 15px;
  font-weight: bold;
}

.container .menu > ul {
  list-style: none;
  margin-right: 243px;
  margin-top: 20px;
}

#menu-home:hover > img {
  background: url(img/menu_home_blue.png) no-repeat;
}

#paz-logo {
  position: absolute;
  left: 0px;
  top: -40px;
}

.container .menu > ul > li > a {
  color: white;
}

.container .menu > ul > li {
  display: inline;
  margin: 10px;
  position: relative;
}

.container .menu > ul > li:not(:last-child):not(:first-child):after {
  content: " | ";
  color: aliceblue;
  margin: 10px;
}

/* --- SECTION --- */

.container > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* --- SECTION TOP ROW --- */

.container > .content > .top-row {
  margin: 30px auto 0px auto;
}

.container > .content > .top-row,
.bot-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container > .content > .top-row img {
  border-radius: 0px 0px 23px 0px;
}

.container > .content > .top-row > div:nth-child(2) {
  margin: 0 15px;
}

.container > .content > .top-row > div {
  position: relative;
}

.container > .content > .top-row .on-top-text {
  position: absolute;
  background-color: rgba(124, 122, 122, 0.8);
  border-radius: 0px 0px 23px 0px;
  bottom: 10px;
  right: 10px;
  width: 245px;
}

.container > .content > .top-row .on-top-text > h1 {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 10px 0 0;
}

.container > .content > .top-row .on-top-text > p {
  color: white;
  font-size: 13px;
  padding: 5px 10px;
  float: left;
}

.container > .content > .top-row .on-top-text > a {
  color: white;
  font-size: 13px;
  padding: 0px 10px;
}

.container > .content > .top-row .on-top-text > a > span {
  position: absolute;
  text-decoration: underline;
  left: 10px;
  bottom: 5px;
}

.container > .content > .top-row .on-top-text > a > span::after {
  content: url(img/read_more_white.png);
  margin-right: 5px;
}

.container > .content > .top-row .on-top-text > a:hover > span:hover::after {
  content: url(img/read_more_blue.png);
}

.container > .content > .top-row .on-top-text > a:hover {
  color: rgb(0, 92, 160);
}
/* --- SECTION BOT ROW --- */
